@import "tailwindcss";

@font-face {
  font-family: 'Bitcount';
  src: url('/fonts/Bitcount/Bitcount-Regular.woff2') format('woff2'),
    url('/fonts/Bitcount/Bitcount-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-bitcount: "Bitcount", sans-serif;
}